@font-face {
  font-family: Consolas;
  src: url(Consolas.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,#root,.container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  font-family: Consolas;
}

body {position: relative; overflow: hidden;}

html,
body,
.container,
#root,
.ace-monokai,
.ace-monokai .ace_gutter {
  background-color: #1e1e1e;
}

#root,.container {height: 97vh; width: 100vw;}
.container > div{width: 100vw; height: 100%; display: flex;}
.container .gutter {     width: 5px !important; 
  background-color: inherit; cursor: col-resize;
  border-right: 2px solid #272727;
}

#ace-editor-col,#ace-editor-col .ace_editor {height: 100% !important;}

.code-result {
  height: 100%;
  color: #f1d817;
  word-break: break-all;
  overflow: auto;
  transition: width .2s;
}

#ace-editor {overflow-x: auto;}

#ace-editor,
#ace-editor .ace_editor,
#ace-editor .ace_content {
  width: 100% !important;
  height: 100% !important;
}

iframe {border: 0;width: 100%;height: 100%;}

/* Side files */
.sidebar-files {
  color: #ffffff;
  overflow: auto;
}

.explorer {
  padding: 10px 10px 5px 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 7px 9px 7px 32px;
  color: rgb(226, 226, 226);
  word-break: break-all;
  cursor: pointer;
}

.btn-rm {
  background-color: inherit;
  border: none;
  color: #ababab;
  cursor: pointer;
}

.btn-rm:hover {
  color: #ffffff !important;
}

/* Run command */
.run-command {
  display: none;
  position: absolute;
  bottom: 22px;
  left: 0;
  background-color: inherit;
  background-color: #00619291;
  padding: 10px;
  z-index: 99;}
  .run-command input { width: 100%;}
  .run-command button , .run-command input{ padding: 5px 15px;}
  .run-command p {margin: 0; margin-top: 10px; color: #fff !important; }
/* Footer */
footer {
  background-color: #006192;
  color: #fff;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  font-size: 12px;
}

footer .info-configs {
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 2px solid #006ba0;
  padding-right: 15px;
}

select {
  padding: 0 10px;
  color: #ffffff;
  background-color: #006192;
  font-size: 12px;
  border: 0;
  border-left: 2px solid #006ba0;
}

/* util */
button {
  cursor: pointer;
}

.cl-yellow {color: #f1d817;}

.cl-red {color: #ff5959;}
.cl-green {color: #10ff08 !important;}

.bg-red {background-color: #ff5959 !important;}
.bg-green {background-color: #06960e !important;}
.bg-yellow {background-color: #ac9800 !important;}
.bg-dark {background-color: #1e1e1e !important;}

.ml-20 {margin-left: 20px !important;}
.mr-20 {margin-right: 20px !important;}
.mr-10 {margin-right: 10px !important;}

.plr {padding: 7px 15px; border-left: 2px solid #272727 !important;}
.p-left {padding-left: 15px;}

.w-25 {width: 25% !important;}
.w-100 { width: 100% !important;}
.h-100 {height: 100% !important;}

.disp-flex {
  display: flex;
}

.disp-flex-al {
  display: flex;
  align-items: center;
}

.disp-flex-sp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disp-flex-col {
  display: flex;
  flex-direction: column;
}

/* scroll */
::-webkit-scrollbar {width: 7px;}
::-webkit-scrollbar-thumb {background: #555;}
::-webkit-scrollbar-thumb:hover {background: #363636;}
/* transition*/
.btn-format {cursor: pointer;}
.btn-format:hover { background-color: #1e1e1e !important;}

.btn-rm,
.sidebar-files, .btn-format {
  transition: all .3s;
}

/* snackbar */
.snackbar {
  visibility: hidden;
  margin-left: -125px;
  font-size: 14px !important;
  background-color: #006192;
    color: #fff;
    padding: 5px 15px;    
  z-index: 1;
}

.snack-right {position: fixed;    right: 5%;bottom: 30px;}
.snack-center {position: fixed;    left: 50%;bottom: 30px;}

.snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 40px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 40px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}